.Pokemon {
  width: 100%;
  height: 100%;
  background-color: var(--cyan);
  padding: 5rem 1.5rem 0;
  display: flex;
  flex-direction: column;
}
.Pokemon__container {
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 1;
}
.Pokemon__name {
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--white);
  text-transform: capitalize;
}
.Pokemon__abilities {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.Pokemon__ability {
  padding: 0.6rem 1.8rem;
  border-radius: 1.5rem;
  color: var(--white);
  background-color: var(--light-cyan);
  font-size: 1.4rem;
  margin: 0 1rem 1rem 0;
  white-space: nowrap;
  max-width: 13rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}
.Pokemon__details {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  width: 100%;
  height: 100%;
  margin-top: 17rem;
  border-radius: 3rem 3rem 0 0;
  padding: 2rem 2rem 0;
}
.Pokemon__details-image {
  position: absolute;
  image-rendering: pixelated;
  width: 25rem;
  min-height: 25rem;
  align-self: center;
  top: 16rem;
  z-index: 1;
  animation: bounce 5s infinite linear;
}
@keyframes bounce {
  25% {
    top: 17rem;
  }
  50% {
    top: 16rem;
  }
  75% {
    top: 17rem;
  }
  100% {
    top: 16rem;
  }
}
.Pokemon__details-title {
  font-size: 2rem;
  font-weight: 500;
  margin: 1.5rem 0 2rem;
}
.Pokemon__details-content {
  font-size: 1.6rem;
  color: var(--black);
  display: grid;
  grid-template-columns: 16rem 4rem auto;
  align-items: center;
  margin-bottom: .8rem;
}
.Pokemon__details-content-name {
  text-transform: capitalize;
  opacity: .5;
}
.Pokemon__details-content-progress {
  width: 100%;
  height: .3rem;
  border-radius: .3rem;
  display: flex;
}
