.Home {
  display: flex;
  flex-direction: column;
  max-width: 100rem;
  width: 100%;
  margin: 5rem auto 3rem;
  padding: 0 1.5rem;
}
.Home__title {
  font-size: 3.2rem;
  margin-bottom: 4rem;
  font-weight: 500;
}
.Home__message {
  color: var(--red);
  font-size: 1.6rem;
  margin: 1rem 0 0 1rem;
}
.Home__background {
  position: fixed;
  bottom: 0;
  width: auto;
  height: 35rem;
  align-self: flex-end;
  margin-top: 9rem;
  z-index: -1;
}
.Home__background--animated {
  animation: spin 4s infinite linear;
  filter: brightness(1.1);
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.Home__search-options {
 margin: 0 0 .5rem 1rem;
}
