.Home {
  display: flex;
  flex-direction: column;
  max-width: 100rem;
  width: 100%;
  margin: 0 auto 3rem;
  padding: 5rem 1.5rem 0;
}
.Home__title {
  font-size: 3.2rem;
  margin-bottom: 4rem;
  font-weight: 500;
}
.Home__message {
  color: var(--red);
  font-size: 1.6rem;
  margin: 1rem 0 0 1rem;
}

.Home__search-options {
 margin: 0 0 .5rem 1rem;
}
